/* ESTILOS GENERALES */
*{
    box-sizing: border-box;
    color: #a2d2ff;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 16px;
    background-color: #333533;
}

/* IMAGENES */
img{
    width: 400px;
    border-radius: 8px;
}

/* ENCABEZADOS */
h1{
    color: #8338ec;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: #f15bb5;
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 24px;
}

span{
    color: #c0c060;
    font-weight: bold;
}

/* ENLACES */
a{
    font-size: 22px;
    text-decoration: underline;
}

.names{
    color: #fff;
    background-color: #000;
    font-style: italic;
}